nav {
  background-color: #91dee0;
  padding: 10px 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-style: oblique;
  font-size: 1.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-width: 150px;
  box-shadow: 0 2px 8px rgba(170, 21, 21, 0.1);
  z-index: 10;
}


.menu > li {
  position: relative;
}



.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  max-width: 800px;
  margin: 0 auto;      
  text-align: center; 
}

body {
  background-color: azure;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  color:#0077cc;
  font-size: 2.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-size: 1.8em;
    line-height: 1.6;
    color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu {
  color: #0077cc;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style: none;
  display: flex;
  gap: 20px;
  
}

.ice {
  width: 220px;
}

.menu a {
  color: #0077cc; /* nebo jiný odstín modré dle potřeby */
  text-decoration: none; /* volitelné: odstraní podtržení */
}